<%- include('partials/header.ejs') %>
    <% blogs.forEach((blog,index) => { %>
      <div class="main_container">
        <div class=" blog_post">
          <h1 class="title_button"><%= blog.title %> <button class="btn" onclick="deleteBlog()"> x </button></h1>
          <p><%= blog.author %> | <%= blog.date %></p>
          <p ><b><%= blog.subcontect %></b></p>
          <p><a href="/reading/ <%= index %>">Read More</a></p>
        </div>
      </div>
    <%  }); %>

<%- include('partials/footer.ejs') %>