<%- include('partials/header.ejs') %>
<div class="top_read">
    <div class="reading_container">
        <di class="blog.read">
            <h1 class="title_button"><%= blogpost.title %> <button class="btn" onclick="deleteBlog()"> x </button></h1>
            <p><strong>Category: </strong><%= blogpost.category %></p>
            <p><strong>Tags: </strong><%=blogpost.tags.join(", ") %></p>
            <p><strong>Author: </strong><%= blogpost.author %></p> 
            <p><strong>Date:</strong><%= blogpost.date %></p>
            <p ><b><%= blogpost.subcontect %></b></p>
            <p><%= blogpost.content %></p>
            <a href="/">Back to Home</a>
        </div>
    </div>
</div>
<script>
    async function deleteBlog(){
        const pathSegments = window.location.pathname.split("/");
        const index = pathSegments[2];

        console.log(index);
      await fetch('http://localhost:3000/delete/'+index, { 

      method: 'DELETE',
      headers: {
          'Content-Type': 'application/json'
      }
  });
  window.location.href = "/";
    } ;
  </script>



<%- include('partials/footer.ejs') %>